<% if !@users.empty? %>
	<% @users.each do |employee| %>
		<div class="row employee-row">
			<div class="large-1 columns">
				<div class="switch tiny">
					<input class="switch-input" id="<%= employee.password_digest+"-active"%>" type="checkbox" name="exampleSwitch">
					<label class="switch-paddle" for="<%= employee.password_digest+"-active"%>">
						<span class="show-for-sr">Tiny Sandwiches Enabled</span>
					</label>
				</div>
			</div>
			<div class="large-3 columns">
				<a href=""><b><%= employee.first_name %> <%= employee.last_name %></b></a>
			</div>
			<div class="large-2 columns">
				Engineering
			</div>
			<div class="large-3 columns">
				San Diego, CA
			</div>
			<div class="large-2 columns">
				<%= employee.created_at.strftime("%b %d, %Y") %>
			</div>
			<div class="large-1 columns">
				<% if employee.is_admin == 1 %>
					<span class="warning label">Admin</span>
				<% else %>
					<span class="secondary label">Regular</span>
				<% end %>
			</div>
		</div>
	<% end %>
<% else %>
	<div class="row">
		<div class="large-12 columns">
			<div class="noemps">
				<h4><i class="fi-torso"></i> No Employees</h4>
				Add a <%= link_to "new employee", new_user_path %> to <%= @company.title %>.
			</div>
		</div>	
	</div>
<% end %>