<div class="row">
	<div class="large-12 column">
		<p id="notice"><%= notice %></p>
		
		<h1>Listing Users</h1>
		
		<table>
		  <thead>
		    <tr>
			  <th>Pic</th>
		      <th>First name</th>
		      <th>Last name</th>
		      <th>Email</th>
		      <th>Company</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
			    <!-- default_url => "default_url.png" -->
			    <td>
				    <% if user.image.url(:small) != "/images/small/missing.png" %>
				    	<%= image_tag(user.image.url(:small), :style => "width:20px;") %>
				    <% else %>
				    	<img src="http://www.coverbash.com/wp-content/themes/covers/images/blank_profile_pic.jpg" style="width:20px;" />
				    <% end %>
				</td>
		        <td><%= user.first_name %></td>
		        <td><%= user.last_name %></td>
		        <td><%= user.email %></td>
		        <td><%= user.company %></td>
		        <td><%= link_to 'Show', user %></td>
		        <td><%= link_to 'Edit', edit_user_path(user) %></td>
		        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<br>
		
		<b>Import Products</b>
		<%= form_tag import_users_path, multipart:true do %>
			<br /><%= file_field_tag :file %>
			<%= hidden_field_tag :company_id, current_user.company.id %>
			<%= submit_tag "Import Users", class: "button radius small" %>
		<% end %>
		
		<%= link_to 'New User', new_user_path %>
	</div>
</div>
