<div class="row">
	<div class="large-3 column">
		<%= render 'companies/settingsbar' %>
	</div>
	<div class="large-9 column">
		<br />
		<h3>Manage Employees</h3>
		<br />
		<div class="row">
			<div class="large-7 column">
				<%= link_to "New User", new_company_user_path(@company), :class => "button radius tiny" %>
			</div>
			<div class="large-5 column">
				<%= form_tag import_company_users_path(@company), multipart:true do %>
					<div class="row">
						<div class="large-6 column">
							<%= file_field_tag :file %>
						</div>
						<div class="large-6 column">
							<%= submit_tag "Import Users", class: "button radius tiny" %><a href="" style="padding-left:10px;"><i class="fi-info" style="color:gray;"></i></a>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<table width="100%" border="0">
		  <!--<thead>
		    <tr>
		      <th>Name</th>
		      <th>Title</th>
		      <th>Role</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>-->
		
		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		        <td><!--<%= image_tag(user.image.url(:small), :style => "width:20px;") %>--><%= user.first_name %> <%= user.last_name%></td>
		        <td><%= user.job_role %></td>
			    <td>
				    <% if user.role == "superadmin" %>
				    	<span class="radius alert label">SUPERADMIN</span>
				    <% end %>
				    <% if user.role == "admin" %>
				    	<span class="radius success label">ADMIN</span>
				    <% end %>
				    <% if user.role == "employee" %>
				    	<span class="radius secondary label">EMPLOYEE</span>
				    <% end %>
				</td>
		        <td width="65px;">
			        <%= link_to edit_company_user_path(@company, user), :class => "button radius tiny secondary", :style => "margin-bottom:0;" do %>
			        	<i class="fi-clipboard-pencil"></i>
			        <% end %>
		        </td>
		        <td width="65px;">
			        <%= link_to company_user_path(@company, user), :class => "button radius tiny secondary", :style => "margin-bottom:0;", method: :delete, data: { confirm: 'Are you sure?' } do %>
			        	<i class="fi-trash"></i>
			        <% end %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>
