<div class="edit">
	<div class="row">
		<div class="large-8 columns">
			<h4>Register <%= @company.title %> Employee</h4>
			<%= button_to "Back to employee management", edit_user_path(@company.id), :method => "get", :class => "success tiny button" %>
		</div>
	</div>
		<%= form_for(@user) do |f| %>
			<div class="row">
				<div class="large-8 columns">
					<% if @user.errors.any? %>
						<div class="errors">
						<!--<div class="callout alert">-->
							<i class="fi-warning"></i>
							<ul>
								<% @user.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<div class="form-group">
						<%= f.text_field :first_name, placeholder: "First Name..." %>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="form-group">
						<%= f.text_field :last_name, placeholder: "Last Name..." %>
					</div>
				</div>
				<div class="large-4 columns">
				</div>
			</div>
			
			<div class="row">
				<div class="large-8 columns">
					<div class="form-group">
						<%= f.email_field :email, placeholder: "Email..." %>
					</div>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-8 columns">
					<div class="form-group">
						<label><span style="padding-left:5px; padding-top:2px;">Admin privileges</span>
						<div class="switch tiny" style="float:left;">
							<input class="switch-input" id="23" type="checkbox" name="exampleSwitch">
							<label class="switch-paddle" for="23">
								<span class="show-for-sr">Tiny Sandwiches Enabled</span>
							</label>
						</div></label>
						<!--<p style="position:relative; left:10px; bottom:2px;">Admin privileges</p>-->
					</div>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-8 columns"><br /></div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-8 columns">
					<div class="form-group">
						<select class="locations">
							<option value="-">Select employee&#39;s location...</option>
							<% @company.locations.each do |location| %>
								<option value="<%= location.id %>"><%= location.title %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-8 columns">
					<div class="form-group">
						<select class="departments">
							<option value="-">Select employee&#39;s department...</option>
							<% @company.departments.each do |department| %>
								<option value="<%= department.id %>"><%= department.title %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-8 columns"><br /></div>
				<div class="large-4 columns"></div>
			</div>


			<div class="row">
				<div class="large-8 columns">
					<div class="form-group">
						<input type="text" placeholder="Manager&#39;s name..." />
					</div>
				</div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-6 columns">
					<button type="button" class="button tiny">Bob Adams</button>
					<button type="button" class="button tiny">Bob Regis</button>
					<button type="button" class="button tiny">Bob Kenneth</button>
				</div>
				<div class="large-2 columns"></div>
			</div>
									
			<%= f.hidden_field :password, value: "4kj2b33e" %>
			<%= f.hidden_field :password_confirmation, value: "4kj2b33e" %>
			
			<%= f.hidden_field :company_id, value: @company.id %>
			
			<div class="row">
				<div class="large-8 columns"><br /></div>
				<div class="large-4 columns"></div>
			</div>
			
			<div class="row">
				<div class="large-2 columns">
					<%= button_tag(type: 'submit', class: 'tiny success button', style: 'float:left;') do %>
						Create Employee
					<% end %>
				</div>
				<div class="large-6 columns">
					<p class="hint-nopos" style="padding-top:7px; margin-left:-10px;">An email will be sent to this employee containing their password.</p>
				</div>
				<div class="large-4 columns"></div>
			</div>
		<% end %>
	</div>
</div>