<div class="row">
	<div class="large-12 column">
		<br />
		<table class="nav-company" border="0" width="100%">
			<% if !@user.manager.nil? %>
				<tr>
					<td></td>
					<td>
						<%= link_to user_path(@user.manager.id) do %>
							<span class="manager-nav">
								<%= @user.manager.first_name %> <%= @user.manager.last_name %>
							</span>
							<span class="manager-nav-sec">
								<%= @user.manager.role %>
							</span>
						<% end %>
					</td>
					<td></td>
				</tr>
			<% end %>
			<tr>
				<td width="25%" valign="bottom">
					<% if !@user.coworkers_disp[0].nil? %>
						<%= link_to user_path(@user.coworkers_disp[0].id) do %>
							<span class="minor-nav"><i class="fi-arrow-left minor-nav-arrow"></i> <%= @user.coworkers_disp[0].first_name %> <%= @user.coworkers_disp[0].last_name %></span>
						<% end %>
					<% end %>
				</td>
				<td width="50%">
					<center><span class="name-nav"><%= @user.first_name %> <%= @user.last_name %></span> <span class="name-nav-sec"><%= @user.role %></span></center>
				</td>
				<td width="25%" valign="bottom">
					<% if !@user.coworkers_disp[1].nil? %>
						<%= link_to user_path(@user.coworkers_disp[1].id) do %>
							<span class="minor-nav"><%= @user.coworkers_disp[1].first_name %> <%= @user.coworkers_disp[1].last_name %> <i class="fi-arrow-right minor-nav-arrow"></i></span>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="large-2 column">
		<% if @user.image.url(:large) != "/images/large/missing.png" %>
	    	<%= image_tag(@user.image.url(:large), :style => "width:100%;") %>
	    <% else %>
	    	<img src="http://www.coverbash.com/wp-content/themes/covers/images/blank_profile_pic.jpg" style="width:100%;" />
	    <% end %>
	    <!--<div class="row controlling-count" style="margin-top:10px;">
		    <div class="large-6 column" style="background-color:green;">
			    <span class="all">1230 <i class="fi-torsos-all"></i></span>
		    </div>
		    <div class="large-6 column" style="background-color:blue;">
			    <span class="direct">10 <i class="fi-torsos"></i></span>
		    </div>
	    </div>-->
	    <table class="controlling-count" border="0" cellspacing="0" cellpadding="0" width="100%">
		    <tr>
			    <td style="padding:0px;">
				    <span class="all">1230 <i class="fi-torsos-all"></i></span>
			    </td>
				<td style="padding:0px;">
					<span class="direct">10 <i class="fi-torsos"></i></span>
				</td>
		    </tr>
	    </table>
	    <%= link_to 'Edit', edit_user_path(@user), class: "button radius tiny" %>
	</div>
	<div class="large-10 column">	 
		<div class="row">
			<div class="large-4 column">
				<b>Mobile</b> <%= @user.mobile_phone %><br />
				<b><%= convert_video_platform(@user.video_platform) %></b> <%= @user.video_handle %>
			</div>
			<div class="large-4 column">
				<b>Work</b> <%= @user.work_phone %><br />
				<b>Email</b> <%= @user.email %>
			</div>
			<div class="large-4 column">
				<b>Location</b> San Diego, CA<br />
				<b class="era">Employee since 
				<% if !@user.start_date.nil? %>
					<%= @user.start_date.year %>
				<% else %>
					present
				<% end %>
				</b>
			</div>
		</div>
		<br />
		<div class="row">  
			<div class="large-6 column"> 
				<h4>About Me</h4>
				<div class="panel">
					<%= @user.about_me %>
				</div>
			</div>
			<div class="large-6 column"> 
				<h4>Responsibilities</h4>
				<div class="panel">
					<%= @user.resp %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 column">
				<h4>Photos</h4>
			</div>
		</div>
		<div class="row image-profile" ng-app="testing">
			<h1 ng-if="name">Hello, {{name}}</h1>
			<div class="large-2 column">
				<img src="http://img1.rnkr-static.com/list_img/9433/1769433/C300/worst-qualities-in-a-person.jpg" />
			</div>
			<div class="large-2 column">
				<img src="http://static1.squarespace.com/static/530ea539e4b0a39dbd7aae4a/t/530f9142e4b07533b73dfa99/1393529154772/family+on+beach.jpg" />
			</div>
			<div class="large-2 column">
				<img src="https://www.kalispellregional.org/data/callout_buttons/buttons/makeanapptfamily.jpg" />
			</div>
			<div class="large-2 column">
				<img src="http://theeconomiccollapseblog.com/wp-content/uploads/2013/07/Family-Photo-by-Eric-Ward-300x300.jpg" />
			</div>
			<div class="large-2 column">
				<!--<img src="http://img1.rnkr-static.com/list_img/9433/1769433/C300/worst-qualities-in-a-person.jpg" />-->
			</div>
			<div class="large-2 column">
				<!--<img src="http://img1.rnkr-static.com/list_img/9433/1769433/C300/worst-qualities-in-a-person.jpg" />-->
			</div>
			<input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
		</div>
		<div class="row">
			<div class="large-12 column">
				<br />
				<h4>Recent Activity</h4>
			</div>
		</div>
		<div class="row">
			<div class="large-12 column">  
				<% if !@user.reports.nil? %>
					<% @user.reports.each do |user| %>
						<%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>