<% @departments.each do |department| %>
	<div class="department">
		<div class="department-action">
			<%= button_tag(type: 'submit', class: 'tiny alert button') do %>
				<i class="fi-x"></i>
			<% end %>
		</div>
		<div class="department-title">
			<%= department.title %>
		</div>
	</div>
<% end %>
<div class="row">
<%= form_for(@department, url: '') do |f| %>
	<div class="large-9 columns">
		<%= f.text_field :title, placeholder: "Add a new department..." %>
	</div>
	<div class="large-3 columns">
		<%= button_tag(type: 'submit', class: 'tiny success button action-right') do %>
			Add Department
		<% end %>
	</div>
<% end %>
</div>