<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @statement.company %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @statement.amount %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
