<style type="text/css">
.side-nav li{
	padding:5px 0;
}	
.side-nav-wrapper{
	background-color:#f9f9f9; padding:0px; margin-top:20px;
}
</style>
<div class="side-nav-wrapper">
	<ul class="side-nav">
		<li>
			<%= link_to edit_company_path(@company), :style => "font-size:16px; color:black;" do %>
				<i class="fi-widget"></i> General
			<% end %>
		</li>
		<li>
			<%= link_to company_users_path(@company), :style => "font-size:16px; color:black;" do %>
				<i class="fi-torsos"></i> Manage Employees
			<% end %>
		</li>
		<li>
			<%= link_to company_departments_path(@company), :style => "font-size:16px; color:black;" do %>
				<i class="fi-address-book"></i> Manage Departments
			<% end %>
		</li>
		<li>
		 	<%= link_to company_locations_path(@company), :style => "font-size:16px; color:black;" do %>
		 		<i class="fi-marker"></i> Manage Locations
		 	<% end %>
		</li>
		<li>
			<%= link_to company_statements_path(@company), :style => "font-size:16px; color:black;" do %>
				<i class="fi-credit-card"></i> Billing
			<% end %>
		</li>
	</ul>
</div>