<div class="row">
	<div class="large-12 column">
		<h1>Management Console</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 column">
		<%= link_to "Edit Company",edit_company_path,:class => "button small" %>
		<%= link_to "Add Employee",new_user_path,:class => "button small" %>
		<%= link_to "Upload Employees",new_user_path,:class => "button small" %>
		<%= link_to "Manage Departments",departments_path,:class => "button small" %>
		<%= link_to "Manage Locations",locations_path,:class => "button small" %>
	</div>
</div>