<div class="row">
	<div class="large-12 columns">
		<%= render @company %>
		
		<h3>Locations</h3>
		<hr />
		<%= render @company.locations %>
		
		<!--<%= form_for @company.locations.build do |f| %>
			<%= f.label :title %> <%= f.text_field :title, class: "form-control" %>
			<%= f.hidden_field :company_id %>
			<%= f.submit class: 'btn btn-primary' %>
		<% end %>-->
		
		<h3>Employees</h3>
		<hr />
		<%= render @company.employees %>
		
		<%= link_to "Home", companies_path, class:  "btn btn-default" %>
	</div>
</div>