<div id="timeline" class="row info container-shading">
	<div id="timeline-user" class="medium-2 columns">
		<div>
			<% if post.user.image.url(:small) != "/images/small/missing.png" %>
				<%= image_tag(post.user.image.url(:small), :style => "width:20px;")%>
			<% else %>
				<img src="http://www.coverbash.com/wp-content/themes/covers/images/blank_profile_pic.jpg" style="width:20px;" />
			<% end %>
			<div><%= post.user.first_name %> <%= post.user.last_name %></div>
		</div>
	</div>
	<div id="timeline-post"class="medium-8 columns">
		<div>
	        <div><%= post.post_type %></div>				        
	        <div class="post-content"><%= post.content %></div>
	    </div>
	</div>
</div>