<div class="row">
	<div class="large-12 column">
		<div>
			<a id="expand" class="button radius tiny">New Post</a>
			<div id="hide">
				<div><%= render 'form'%></div>
			</div>	
		</div>	
		<table>
		  <thead>
		    <tr>
		      <th>User</th>
		      <th>Post type</th>
		      <th>Content</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @posts.each do |post| %>
		      <tr>
		        <td><%= post.user.first_name %> <%= post.user.last_name %></td>
		        <td><%= post.post_type %></td>
		        <td><%= post.content %></td>
		        <td><%= link_to 'Show', post %></td>
		        <td><%= link_to 'Edit', edit_post_path(post) %></td>
		        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<br>
	</div>
</div>
