<div class="row">
	<div class="large-8 column">
		<br />
		<div class="make-post">
			<%= render "make_posting" %>
		</div>
		<div class="row filter-bar">
			
		</div>
		
		<% @posts.each do |post| %>
			<% if post.post_type == 0 %>
				<div class="post_item">
					<div class="row">
						<div class="large-12 column">
							<%= link_to company_post_path(@company, post) do %>
								<i class="fi-link" style="float:right; color:#a2a2a2;"></i>
							<% end %>
							
							<%= image_tag(post.user.image.url(:small), :style => "width:40px; height:40px; float:left;") %>
							<div class="name-date">
								<a class="uname" href=""><%= post.user.first_name %> <%= post.user.last_name %></a><br /><span class="date"><%= time_ago_in_words(post.created_at) %> ago</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 column">
							<div class="content"><%= post.content %></div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 column">
							<span style="margin-left:50px; color:#a2a2a2;" class="radius secondary label">4 <i class="fi-heart" ></i> 2 <i class="fi-comment"></i></span>
						</div>
					</div>
				</div>
			<% end %>
			<% if post.post_type == 1 %>
				<div class="post_item rep">
					<div class="row">
						<div class="large-12 column">
							<%= link_to company_post_path(@company, post) do %>
								<i class="fi-link" style="float:right; color:#a2a2a2;"></i>
							<% end %>
							
							<%= image_tag(post.user.image.url(:small), :style => "width:40px; height:40px; float:left;") %>
							<div class="rep-info">
								reports to <a href="" style="color:#ffaa55; font-weight:bold;">Max Green</a> <i class="fi-torsos"></i>
							</div>
							<div class="name-date">
								<a class="uname" href=""><%= post.user.first_name %> <%= post.user.last_name %></a><br /><span class="date"><%= time_ago_in_words(post.created_at) %></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 column">
							<span style="margin-left:50px; color:#a2a2a2;" class="radius secondary label">4 <i class="fi-heart" ></i> 2 <i class="fi-comment"></i></span>
						</div>
					</div>
				</div>
			<% end %>
			<% if post.post_type == 2 %>
				<div class="post_item new-hire">
					<div class="row">
						<div class="large-12 column">
							<%= link_to company_post_path(@company, post) do %>
								<i class="fi-link" style="float:right; color:#a2a2a2;"></i>
							<% end %>
							
							<%= image_tag(post.user.image.url(:small), :style => "width:40px; height:40px; float:left;") %>
							<div class="new-hire-info">
								<%= post.user.job_role %> <i class="fi-plus"></i>
							</div>
							<div class="name-date">
								<a class="uname" href=""><%= post.user.first_name %> <%= post.user.last_name %></a><br /><span class="date"><%= time_ago_in_words(post.created_at) %> ago</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 column">
							<span style="margin-left:50px; color:#a2a2a2;" class="radius secondary label">4 <i class="fi-heart" ></i> 2 <i class="fi-comment"></i></span>
						</div>
					</div>
				</div>
			<% end %>
			<% if post.post_type == 3 %>
				<div class="post_item">
					<div class="row">
						<div class="large-12 column">
							<%= link_to company_post_path(@company, post) do %>
								<i class="fi-link" style="float:right; color:#a2a2a2;"></i>
							<% end %>
							
							<%= image_tag(post.user.image.url(:small), :style => "width:40px; height:40px; float:left;") %>
							<div class="name-date">
								<a class="uname" href=""><%= post.user.first_name %> <%= post.user.last_name %></a><br /><span class="date"><%= time_ago_in_words(post.created_at) %> ago</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 column">
							<div class="photo-content">
								<img src="http://rack.2.mshcdn.com/media/ZgkyMDE1LzEwLzE2Lzk4L2NhdG1vdXRoLmQyOWFiLnBuZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/ee79f012/f77/cat-mouth.jpg" />
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>