<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OrgPoint | Workplace Social Directory" %></title>
    
    <%= favicon_link_tag 'orgpoint_main.ico' %>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "main" %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	  
  	<div class="contain-to-grid sticky">
	  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		  <ul class="title-area">
			  <li class="name" id="orgpoint-logo">
			  	<h1><a href="/"><b>Org</b>Point</a></h1>
			  </li>
			  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>
		  
		  <style type="text/css">
	      	#search{
		      	background-color:white;
		      	border-radius:5px;
		      	border:1px solid white;
	      	} 
		  </style>
		  
		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		    	<% if current_user %>
				    <li>
						<a style="color:#2976eb; font-weight:bold;" href="/posts"><i class="fi-list"></i> Recent</a>
					</li>
					<li>
						<a style="color:#1fc83b; font-weight:bold;" href="/stats"><i class="fi-graph-pie"></i> Stats</a>
					</li>
					<li>
						<input type="text" name="search" id="search" placeholder="Search for coworkers" />
					</li>
				<% end %>
			    <% if current_user %>
				  <li class="has-dropdown">
				        <a href="#">
				        <%= image_tag(current_user.image.url(:small), :style => "width:20px; margin-right:5px; margin-bottom:3px; border-radius:5px;") %>
				        <b><%= current_user.first_name %> <%= current_user.last_name %></b>
				        <span style="color:orange;"><%= current_user.company.title %></span>
				        <% if current_user.admin %> 
					        <span class="radius success label" style="margin-left:3px; margin-bottom:2px;">ADMIN</span><br>
					    <% end %>
				        </a>
				        <ul class="dropdown">
					      <li><%= link_to('My Profile', user_path(current_user.id)) %></li>
					      <li><%= link_to('Settings', edit_user_path(current_user.id)) %></li>
					      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				        </ul>
				  </li>
				<% else %>
				  <li><%= link_to 'Login', user_session_path %></li>
				<% end %>
		    </ul>
		  </section>
	  </nav>
	</div>
	<% if flash[:alert] %>
		<div class="row">
			<div class="large-12 column">
				<div data-alert class="alert-box alert radius flash-banner-error">
				  <%= flash[:alert] %>
				  <a href="" class="close">&times;</a>
				</div>
			</div>
		</div>
	<% end %>
	<% if flash[:notice] %>
		<div class="row">
			<div class="large-12 column">
				<div data-alert class="alert-box radius flash-banner-notice">
				  <%= flash[:notice] %>
				  <a href="" class="close">&times;</a>
				</div>
			</div>
		</div>
	<% end %>

    <%= yield %>

    <div id="footer">
	    <center><p>Copyright 2016 | OrgPoint</p></center>
    </div>
    
  </body>
</html>
