<div class="home-banner">
	<div class="row">
		<div class="large-12 column banner">
			<br /><br /><br /><br />
			<h2>Workplace Social Directory</h2>
		</div>
	</div>
</div>
<div class="row info container-shading" style="margin-top:30px;">
	<div class="large-3 column item-back">
		<center><%= image_tag("directory.svg", width: "30%") %>
		<h4 style="color:#ffffff;">Directory</h4></center>
	</div>
	<div class="large-3 column">
		<center><%= image_tag("social.svg", width: "30%") %>
		<h4 style="color:#ffffff;">Social</h4></center>
	</div>
	<div class="large-3 column item-back">
		<center><%= image_tag("stats.svg", width: "30%") %>		
		<h4 style="color:#ffffff;">Statistics</h4></center>
	</div>
	<div class="large-3 column item-back">
		<center style="position:relative; top:5px;"><%= image_tag("management.svg", width: "30%") %>
		<h4 style="color:#ffffff;">TeamBuilder<sup style="font-size:12px;">TM</sup></h4></center>
	</div>
</div>
<div class="home-banner">
	<div class="row info-banner">
		<div class="large-9 column banner">
			<h4 style="padding-top:12px;">OrgPoint connects your workforce</h4>
		</div>
		<div class="large-3 column banner">
			<a class="button small success" href="#" style="color:white; font-weight:bold; position:relative; top:7px;">View Demo &raquo;</a>
		</div>
	</div>
	<div class="row info-banner-w">
		<div class="large-12 column banner">
			<h4 style="text-align:center;">Product Features</h4>
		</div>
	</div>
	<div class="row info-banner-w">
		<div class="large-4 column banner">
			<%= image_tag("homepage", width: "100%", class: "border-img"); %>
		</div>
		<div class="large-8 column feat-desc">
			<h4>Visual Employee Directory</h4>
			<b>Navigate the workforce visually</b>
			<p>View specific departments, zoom into manager reports, overall navigate the entire workforce.</p>
		</div>
	</div>
	<div class="row info-banner-w">
		<div class="large-4 column banner">
			<%= image_tag("employee_profiles", width: "100%", class: "border-img"); %>
		</div>
		<div class="large-8 column feat-desc">
			<!-- <div style="text-align:right"> -->
				<h4>Employee Profiles</h4>
				<b>Everything about every employee</b>
				<p>In addition to contact information, photos, timeline posts, skills, and recent events are displayed on each employee profile.</p>
			<!-- </div> -->
		</div>
	</div>
	<div class="row info-banner">
		<div class="large-12 column banner">
			<h4 style="text-align:center; margin:none; padding:none;">Trusted by</h4>
		</div>
	</div>
	<div class="row info-banner-r" style="padding-left:20px; padding-right:20px; padding-bottom:20px;">
		<div class="large-3 column banner">
			<center><%= image_tag("konsan.svg") %></center>
		</div>
		<div class="large-3 column banner">
			<center><%= image_tag("kenworth.svg", style: "position:relative; top:30px;") %></center>
		</div>
		<div class="large-3 column banner">
			<center><%= image_tag("konsan.svg") %></center>
		</div>
		<div class="large-3 column banner">
			<center><%= image_tag("kenworth.svg", style: "position:relative; top:30px;") %></center>
		</div>
	</div>
</div>